*{
    box-sizing: border-box;
}

.html
{
    font-family: 'Fruktur', cursive;
    font-family: 'Roboto', sans-serif;
}

.body
{
    background-color: #ebebeb;
}

.principal
{
    background-color: #EAC926;
    padding: 5px;
}

.principal p
{
    text-align: center;
}

.logo-search-container
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.precios
{
    font-size: 18px;
}

.descuentos
{
    font-size: 16px;
    color: #39b54a;
}

.logo
{
    width: 40%;
}

.burger-menu
{         
    color: #ebebeb;
    background-color: #1259c3;
    border-radius: 7px;
    padding: 10px 10px 10px 10px; 	
    height: fit-content;
    width: fit-content;
    margin-left: 50%;
}

.busqueda
{
    margin-left: 5px;
    display: flex;
    justify-content: center;
}

.busqueda input
{
    height: 20px;
    width: 30vw;

}

.navbar
{
    display: none;
}

.navbar ul
{  
    display: flex;
    flex-wrap: nowrap;
    list-style: none;
    font-size: 10px;
    margin: 15px;
}

.navbar ul a
{
    margin: 10px;
    color: #666;
    text-decoration: none;
}

.iconobusqueda
{
    position: relative;
    left: -15px;
    color: #666;
    margin-top: 3px;
    font-size: 12px;
}

.main
{
    width: 90%;
    margin: auto;
    text-align: center;
}

.main h3
{
    display: none;
}

.banner
{
    width: 100%;
}

.banner img
{
    width: 100%;
}

.productos
{
    display: flex;
    flex-wrap: wrap;
}

.h2-titulares
{
    flex: 0 0 100%;
    text-align: left;
    font-size: 15px;
    color: rgb(100,100,100);
}

.articulos
{
    position: relative;
    text-align: center;
    width: 100%;
    background-color: white;
    margin-bottom: 10px;
    border: solid 1px #ebebeb;
}

.articulos img
{
    width: 80%;
}

.info-articulos
{   
    display: flex;
    align-items: center;
    height: fit-content;
    border-top:  solid 1px #ebebeb;
}

.info-articulos p
{ 
    
    margin-left: 10px;
}

.camion-container
{
    position: absolute;
    border: solid 1px #39b54a;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    right: 0px;
    transform: translateY(-50%);
}

.camion-container i
{
    color: #39b54a; 
    transform: translateY(50%);
    margin: 0 0 0 3px;
}

p.precios
{
    font-size: 24px;
}

p.descuentos
{
    font-size: 16px;
}

.pie
{
    background-color: white;
    padding: 15px;
}

.pie h2
{
    color: #666;
    text-align: center;
}

.pie p
{
    text-align: center;
}

.iconos-pie
{
    margin:auto;
    height: fit-content;
    width: fit-content;
    font-size: 30px;
    padding: 10px 10px 0px 10px;
}

.iconos-pie i
{
    color: #1259c3 ;
}

.create-form
{
    padding: 20px 20px;
    max-width: 1200px;
    margin: auto;
}

.control-formulario
{
    margin-bottom: 15px;
}

.control
{
    width: 100%;
    max-width: 1200px;
    padding: 8px;
    border-radius: 5px;
    border: 2px solid rgba(18, 89, 195, 0.4);
}

.control:focus 
{
    outline: none /* Removes the border when the input is clicked */
}

.control:hover
{
    box-shadow: 0px 0px 10px #1259c3;
}

.control-formulario label
{
    text-align: left;
    margin-bottom: 5px;
    font-style: italic;
    font-weight: bold;
    display: block;
}

.boton-formulario
{
    background-color: #1259c3;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}

.boton-enviar
{
    background-color: #1259c3;
    width: 100%;
    max-width: 1200px;
    border: none;
    font-size: 20px;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 5px;
}


@media (min-width: 361px) 
{
    .main h3
    {
        display: block;
        text-align: left;
        margin-left: 10px;
        color: rgb(100,100,100);
    }

    .articulos
    {
        box-shadow: 0px 0px 10px rgb(100,100,100);
    }
}

@media (min-width: 768px)
{
    .logo
    {
        width: 20%;
    }
    .burger-menu
    {
        display: none;
    }

    .navbar
    {
        display: flex; 
        justify-content: space-around;
    }

    p.precios
    {
        font-size: 22px;
    }

    p.descuentos
    {
        font-size: 14px;
    }

    .main h3
    {
        font-size: 20px;
    }

    .navbar ul
    {
        font-size: 12.5px;
    }

    .articulos
    {
        flex:25%;
        margin: 10px 10px 10px 50px
    }

    .h2-titulares
    {
        margin-left: 50px;
    }
}

@media (min-width: 1024px)
{
    .articulos
    {
        flex:15%;
        margin: 10px 10px 10px 60px
    }

    p.precios
    {
        font-size: 20px;
    }

    p.descuentos
    {
        font-size: 12px;
    }

    .main h3
    {
        font-size: 12px;
    }

    .h2-titulares
    {
        margin-left: 60px;
    }
}